.article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    position: relative;
    font-size: 14px;
    margin: 10px;
}

.title {
    color: rgb(205, 2, 0);
    font-size: 28px;
    margin: 0px;
}

.time {
    font-size: 12px;
    font-weight: bold;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
}
