.list {
    background-color: rgb(153, 153, 153);
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.article {
    background-color: white;
    margin: 10px 10px 10px 10px;
    border: 1px solid rgb(205, 2, 0);
    padding: 10px;
    list-style-type: none;
}
