.article {
    display: flex;
}

.content {
    flex: 1;
    position: relative;
    font-size: 14px;
    margin: 10px;
}

.title {
    color: rgb(205, 2, 0);
    font-size: 28px;
    margin: 0px;
}

.time {
    font-size: 12px;
    font-weight: bold;
}
